<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="e03-04 e2e spike"
        android:usesCleartextTraffic="false">
    </application>

</manifest>
